
.weapon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50% 50%;
    height: 100%;
}


.weapon-list{
    display: grid;
    text-align: center;
    background: rgba(160, 160, 160, .7);
}
.weapon-head {
    background: aquamarine;
}

.weapon-box{
    margin: 1em;
}

.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: center;
}

.tooltip .top {
    min-width: 200px;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #0f1923;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.tooltip:hover .top {
    display: block;
    text-align: center;
}

.tooltip .top i {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.tooltip .top i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #0f1923;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1230px) {
.weapon{
    display: flex;
    overflow: scroll;
}
}