.maps img{
    width: 50%;
}
.slider-wrapper{
    max-width:  50%;
}

.maps{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.maps-mobile{
    text-align: center;
    overflow: scroll;
    display: none;
}

.maps-mobile img {
    width: 70%;
}

@media (max-width: 870px) {
    .maps {
        display: none;
    }
        .maps-mobile {
            display: block;
        }

}