.home{
    display: flex;
    height: 100%;
    background: url("https://pbs.twimg.com/media/EZdgO14WoAINDOG.jpg:large");
    background-size: cover;
}

.home-menu{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 22% 22% 22%;
    gap: .2em;

    padding: 1em;
    width: 30%;
    margin: 1em;
    background: rgba(15, 19, 23, .5);
    
}

.home-img{
    width: 70%;
    margin: 1em;
    padding: 1em;
    color: white;
    background-color: black;
}

.menu-box{
    background-color: aqua;
    border: 1px solid wheat;
}

#gamemodes-btn{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#maps-btn {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}