

.home-menu{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 25% 25% 25%;
    gap: .2em;
    width: 30%;
    
}

.home-img{
    width: 70%;
}

.menu-box{
    background-color: aqua;
    border: 1px solid wheat;
}

#gamemodes-btn{
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
}

#maps-btn {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

@media (max-width: 900px) {
    .home-menu{
        display: none;
    }
    .home-img {
        width: 82%;
    }

    
}